* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
*::selection {
  background: #ec812f;
  color: white;
}
*::-webkit-scrollbar {
  display: none;
}
html{
  font-size: 0.781vw;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.8rem;
  width: 100%;
  height: 325rem;
   overflow-x: hidden;
}
/*header css starts*/
.header {
  width: 100%;
  height: 6.25rem;
  position: fixed;
  z-index: 1000;
  top: 0;
}
/*logo and search css starts*/
.logo-search {
  width: 100%;
  height: 3.125rem;
  display: flex;
  background-color: white;
}

.logo-search .logo-section {
  flex: 0.5;
  width: 100%;
  height: 3.125rem;
}
.logo-section .logo-text {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-left: 1.875rem;
  color: #ec812f;
  font-weight: bolder;
  font-size: x-large;
  width: 30%;
  height: 3.125rem;
  transition: all;
  transition-duration: 0.3s;
}
.logo-text:hover {
  color: black;
  -webkit-text-stroke: 1px #ec812f;
}

.search-section {
  flex: 0.5;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3.125rem;
}
.search-section input {
  border: 1px solid #ec812f;
  padding: 0.625rem;
  height: 2.5rem;
}
.search-section .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 3.125rem;
  background-color: #ec812f;
  cursor: pointer;
}
/*logo and search css ends*/

/*navigation bar css starts*/

.nav-bar {
  width: 100%;
  height: 3.125rem;
  background-color: #ec812f;
  display: flex;
}
.nav-bar-left {
  flex: 0.5;
  width: 100%;
}
.nav-bar-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
}
.nav-bar-left ul li {
  padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  list-style-type: none;
}
.nav-bar-left ul li a {
  color: white;
  font-weight: 0.625rem;
  padding: 0.4375rem;
  text-decoration: none;
  transition: all;
  transition-duration: 0.3s;
}

.nav-bar-left ul li a:hover {
  background-color: white;
  color: #ec812f;
  padding: 0.4375rem;
}

.nav-bar-right {
  flex: 0.5;
  width: 100%;
}
.nav-bar-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
}
.nav-bar-right ul li {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  list-style-type: none;
}
.nav-bar-right ul li a {
  color: white;
}
.nav-bar-right ul li a i {
  font-size: large;
  transition: all;
  transition-duration: 0.3s;
  padding: 0.4375rem;
}
.nav-bar-right ul li a i:hover {
  background-color: white;
  color: #ec812f;
  padding: 0.4375rem;
}
/*navigation bar css ends*/

/*main css starts*/

.sections-part {
  width: 100%;
  position: relative;
  height: 318.75rem;
}

/*banner css starts*/
.banner-section {
  top: 6.25rem;
  width: 100%;
  height: 31.25rem;
}
.banner-section img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/*banner css ends*/

/*category section css starts*/
.category-section {
  width: 100%;
  height: 43.75rem;
}
.category-section .category-container {
  margin: 0rem 3.125rem;
}
.category-container .category-text {
  font-size: x-large;
  text-align: center;
  padding: 1.25rem 0rem;
}
.category-container .category-icons {
  width: 100%;
  padding: 0.625rem 0rem;
}
.category-card-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}
.category-card-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}
.category-card-row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.2%;
  height: 12.5rem;
  padding: 0.9375rem 0rem;
}

.category-card img {
  border-radius: 50%;
  border: 2px solid gray;
}
.category-card img:hover {
  border: 3px solid #ec812f;
}
.category-card img:hover + .category-card-text {
  color: #ec812f;
}

.category-card .category-card-text {
  padding: 1.25rem 0rem;
}
/*category section css ends*/

/*luxury sofa css starts*/
.banner2-container {
  position: relative;
  width: 100%;
  height: 14.375rem;
  margin: 1.875rem 0rem;
}
.banner2-container img {
  width: 100%;
  object-fit: cover;
  height: 14.375rem;
}
.banner2-container .banner2-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: grey;
  cursor: pointer;
}
.banner2-container .banner2-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  text-align: center;
}
.banner2-container:hover .banner2-overlay {
  opacity: 0.8;
}
/*luxury sofa css ends*/

/*trending offer section css starts*/

.trending-offer-section {
  margin-top: 3.125rem;
  width: 100%;
  height: 25rem;
}
.trending-offer-section .trending-offer-heading {
  text-align: center;
  padding: 0.625rem 0rem;
}
.trending-offer-heading .trending-heading-text {
  color: #ec812f;
  font-size: x-large;
}
.trending-offer-section .trending-offer-container {
  width: 100%;
  padding: 0 1.25rem;
  display: flex;
}
.trending-offer-container .trending-offer-post {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending-offer-container .trending-offer-products {
  flex: 0.8;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  margin-left: 1.25rem;
}
.trending-offer-products .trending-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 23.125rem;
}
.trending-horizontal .trending-product-card {
  text-align: center;
  margin-right: 1.875rem;
  padding: 0rem 0.9375rem;
}

.trending-product-card a {
  text-decoration: none;
  color: black;
}
.trending-product-price::after {
  content: " 10% Off";
  color: red;
}
.fa-star {
  color: gold;
}
/*trending offer section css ends*/

/*top seller section css starts*/
.top-seller-section {
  margin-top: 3.125rem;
  width: 100%;
  height: 25rem;
}
.top-seller-section .top-seller-heading {
  text-align: center;
  padding: 0.625rem 0rem;
}
.top-seller-heading .top-heading-text {
  color: #ec812f;
  font-size: x-large;
}
.top-seller-section .top-seller-container {
  width: 100%;
  padding: 0 1.25rem;
  display: flex;
}
.top-seller-container .top-seller-products {
  flex: 0.8;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  margin-right: 1.25rem;
}
.top-seller-container .topseller-right {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.top-seller-products .top-seller-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 23.125rem;
}
.top-seller-horizontal .topseller-product-card {
  text-align: center;
  margin-right: 1.875rem;
  padding: 0rem 0.9375rem;
}
.topseller-product-card a {
  text-decoration: none;
  color: black;
}
.topseller-product-price::after {
  content: " 10% Off";
  color: red;
}
.fa-star {
  color: gold;
}
/*top seller css ends*/

/*great deals section css starts*/

.great-deals-section {
  margin-top: 3.125rem;
  width: 100%;
  height: 31.25rem;
}
.great-deals-section .great-deals-heading {
  text-align: center;
  padding: 0.625rem 0rem;
}
.great-deals-heading .greatdeals-heading-text {
  color: #ec812f;
  font-size: x-large;
}
.great-deals-section .great-deals-container {
  width: 100%;
  padding: 0 1.25rem;
  display: flex;
}
.great-deals-container .greatdeals-left-post {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.great-deals-container .great-deals-products {
  flex: 0.8;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  margin-left: 1.25rem;
}
.great-deals-products .greatdeals-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 23.125rem;
}
.greatdeals-horizontal .greatdeals-product-card {
  text-align: center;
  margin-right: 1.875rem;
  padding: 0rem 0.9375rem;
}
.greatdeals-product-card a {
  text-decoration: none;
  color: black;
}
.greatdeals-product-price::after {
  content: " 10% Off";
  color: red;
}
.fa-star {
  color: gold;
}
/*great deals section css ends*/

/*banner3 css starts*/

.banner3-container {
  position: relative;
  width: 100%;
  height: 14.375rem;
}
.banner3-container img {
  width: 100%;
  object-fit: cover;
  height: 14.375rem;
}
.banner3-container .banner3-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: grey;
  cursor: pointer;
}
.banner3-container .banner3-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  text-align: center;
}
.banner3-container:hover .banner3-overlay {
  opacity: 0.8;
}

/*banner3 css ends*/

/*banner4 section starts*/

.banner4-section {
  margin: 1.875rem 0rem;
  height: 21.875rem;
  display: flex;
}
.banner4-image-container {
  width: 100%;
  padding: 0.625rem;
}
.banner4-section .banner4-left {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner4-left img {
  width: 100%;
  height: 100%;
}

.banner4-section .banner4-right {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner4-right img {
  width: 100%;
  height: 100%;
}
/*banner4 section ends*/

/*new arrival section css starts*/

.new-arrival-section {
  margin-top: 1.875rem;
  width: 100%;
  height: 53.125rem;
  padding: 0 1.25rem;
}
.new-arrival-section .newarrival-heading {
  text-align: center;
  padding: 0.625rem 0rem;
}
.newarrival-heading .newarrival-heading-text {
  color: #ec812f;
  font-size: x-large;
}
.new-arrival-section .newarrival-card-container {
  width: 100%;
  border: 0.5px solid grey;
}
.newarrival-card-container .newarrival-product-cards1 {
  margin: 1.25rem;
  display: flex;
  height: 21.875rem;
  justify-content: space-around;
  align-items: center;
}
.newarrival-card-container .newarrival-product-cards2 {
  margin: 1.25rem;
  display: flex;
  height: 21.875rem;
  justify-content: space-around;
  align-items: center;
}

.newarrival-product-card {
  text-align: center;
  margin-right: 1.875rem;
  padding: 0rem 0.9375rem;
}
.newarrival-product-card a {
  text-decoration: none;
  color: black;
}
.newarrival-product-price::after {
  content: " 10% Off";
  color: red;
}
/*new arrival section css starts*/

.newsletter-section {
  margin-top: 1.875rem;
  width: 100%;
  height: 21.875rem;
  position: relative;
}
.newsletter-section .newsletter-image-container {
  height: 6.25rem;
}
.newsletter-image-container img {
  object-fit: cover;
  width: 100%;
}
.newsletter-section .newsletter-text-container {
  position: absolute;
  top: 0;
  margin-top: 1.875rem;
  height: 18.75rem;
  bottom: 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-text-container .newsletter-text-part {
  width: 70%;
}
.newsletter-text-part h3 {
  color: white;
  margin: 1.25rem 0rem;
}
.newsletter-text-part input {
  padding: 0.4375rem 3.75rem 0.4375rem 0.625rem;
  margin-bottom: 1.25rem;
}
.newsletter-text-part h5 {
  color: white;
}
.fa-paper-plane {
  background-color: #ec812f;
  color: white;
  padding: 0.75rem;
  cursor: pointer;
}
/*new arrival section css ends*/

/*sponsors section css starts*/
.sponsors-section {
  margin-top: 1.875rem;
  width: 100%;
  height: 4.375rem;
}
.sponsors-section .sponsors-heading {
  width: 100%;
  padding: 0.625rem 0rem 0.4375rem 0rem;
}
.sponsors-heading .sponsors-heading-text {
  text-align: center;
  color: #ec812f;
  font-size: x-large;
}
.sponsors-section .sponsors-image-container {
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sponsors-image-container img {
  box-shadow: 0rem 0.125rem 0.125rem grey;
}
/*sponsors section css ends*/

/*main css ends*/

/*footer css starts*/

footer a {
  text-decoration: none;
}

/*footer css ends*/
